.video-container {
    margin: 0 auto;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url(img/video.jpg) no-repeat center center/cover;
  }
  
  video {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
  }
  
  @media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  

  @media (max-aspect-ratio: 16/9) {
    video {
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }